<nav class="navigation">
    <ul class="navigation__ul">
        <li class="navigation__li">
            <a href="/">Home</a>
        </li>
        <li class="navigation__li">
            <a href="/">About</a>
        </li>
        <li class="navigation__li">
            <a href="/">Contact</a>
        </li>
    </ul>
</nav>