<ul class="social__ul">
    {{!-- Example comment with and debug logging command below --}}
    {{log this }}

    {{#each this}}
    <li class="social__li">
        {{> ../01-atoms/links/icon-link this}}
    </li>
    {{/each}}
</ul>